html,body{
        padding: 0;
    margin: 0;
  }
.menu a, .menu li {
	font:   bold 30px Tw Cen MT!important;
}
 .menu{
 	 background: white; 
 	 padding: 60px 100px;
 	     /*max-width: 1170px;*/
 	}   
 	.navbar-default{
 		/*background: none!important;*/
 	}
.navbar{
	     /*border: 1px solid transparent; */
	     border: none!important;
}
@font-face {
 font-family: 'Albertus Medium Regular';
 src: url("font/AlbertusMediumRegular.ttf") format("opentype");
}
.ol_div{
 font-family: 'Albertus Medium Regular';

    background: rgba(32,32,32,0.5)!important;
    font-size: 72px!important;
    color: white;
        margin: 0 19% 19% 19%;


}
.carousel-caption{
        width: auto !important;

}
.ol_div1{

  
    font: 46px Myriad Pro ;
   
    color: white;
}

header{
        /*max-width: 1770px;*/
	margin: 0 auto ;

}
.section_flag img{
	margin: 30px 7px;

}
button{
	background: #7090c0;
	border: none;
    color: white!important;
    padding: 15px 45px;
    font: 17px Myriad Pro;
     text-transform: uppercase!important;
     border-radius: 5px;

}
.section_btn p{
	margin: 20px 14px;
	/*letter-spacing: 10px;*/
	font-size: 30px;
}

.section_btn1>div{
	
	margin: 15px auto;


}

.section_btn1{
	 /*box-shadow: 0px 0px 8px 10px rgba(0,0,0,0.5);*/
	    box-shadow: 0px 0px 8px 0px #e5e5e5;

	 /*box-shadow: 5px 5px 8px 10px #888888;*/
	/*padding: 40px 40px;*/
	    padding: 15px 0px!important;

	background: white;

	
}
.section_btn1 img{
	/*margin-left: 40px;*/
}
.section_btnb{
	max-width: 1170px;
	margin: 0 auto;

}

.section_btn2 p{
	margin: 0;
	font: 14px Myriad Pro;
}
.section_btn2 p:nth-child(2){
	margin-top: 30px;
	margin-bottom: 14px;


}
.section_btn2 a{
	color: black;
	text-align: right!important;

}
.section_btn2{
	     box-shadow: 0px 0px 8px 0px #e5e5e5;

	    padding: 15px 0px!important;
	background: white;
	margin-bottom:30px; 
	  
	

}
.section_btn{
	background: url("img/Layer 6.jpg");

	 background-position: center; 
        background-repeat: no-repeat;
        background-size: cover; 
	
	margin: 0 auto ;
	padding-bottom: 100px;
}

.btn1{
	 padding-right: 40px!important;
    padding-left: 80px!important;
     margin-top: 30px;

}
.btn2{
	 padding-right: 80px!important;
    padding-left: 40px!important;
     margin-top: 30px;
    
}
#letter{
	 margin-top: 5%; 
	 background: none!important;
}
/*second carusel*/


.media-carousel 
{
  /*margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;*/
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -12px;
  background: white!important;
  color: none;
  opacity: 1!important;
  
      height: 33px;
    width: 35px;
  margin-top: 120px;
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  /*background-image: none;*/
  /*background: none repeat scroll 0 0 #222222;*/
  background: white!important;
  color: none;
  opacity: 1!important;
  /*border: 4px solid #FFFFFF;*/
  /*border-radius: 23px 23px 23px 23px;*/
      height: 33px;
    width: 35px;
  margin-top: 120px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
/*.media-carousel img
{
  width: 250px;
  height: 100px
}*/
/* End carousel */
.card{
	
	margin: auto 10px ;
	background: white;
}
.img-fluid, .card{
	  padding-right: 0px!important; 
     padding-left: 0px!important; 
}
   

.media-carousel {
    margin-bottom: 24px;
    padding: 0 0px 0px 67px !important;
    margin-top: 30px;
}
#content{
    overflow: auto;
    padding: 0;
    margin: 0;
    width: 100%;
}

.main{
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	display: flex;
}
.main1{
    margin: 0 20px;
    max-width: 300px;
    height: 420px;
    width: 100%;
    position: relative;
}
.qu{
	
       border: 2px solid #fff;;
    max-width: 300px;
    height: 300px;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 132px;
    background: white;
 box-shadow: 0px 0px 8px 0px #e5e5e5;

}
.qu:hover{
	border: 2px solid #7090c0;
    /*box-sizing: border-box;*/

}
.qu p {
	margin-top: 100px;
}
.oval{
	
border: 2px solid #7090c0;
    max-width: 217px;
    height: 217px;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    left: 20px;
}
.img_div{

	position: absolute;
	       left: 30px;
    top: 10px;
    z-index: 3;

}



/*third carousel*/

/* The controlsy */
.carousel-control {
	left: -12px;
   
    margin-top: 50px;
}
.carousel-control.right {
	right: -12px;
	color: grey!important;
	background: none!important;
}
.carousel-control.left{
	    left:  -12px;
	color: grey!important;
	background: none!important;
}
/* The indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
	background: #cecece;
}
.carousel-indicators .active {
background: #428bca;
}
.thumbnail{
	border:none!important;
}
.third_slide {
	    /*left:  -100px!important;*/
	    width: 2%!important;
}
.bttn{
	margin: 50px auto!important;
	text-align:center;
}
.foot_div{
	margin: 50px auto;
	color: white;
	    max-width: 1170px;
}
.foot_div p{
	margin: 10px auto;
}
.tarer{
	margin-top: -18px ; 
	   padding-bottom: 30px;
}
@media(max-width: 529px) {
.ol_div{
	 font: 25px Myriad Pro !important;
    color: white;
        margin: 0 19% 8% 19%;
}
.ol_div1{

    font: 17px Myriad Pro ;
       margin: 0 0 -12px;

    color: white;
}
.carousel-caption{
	padding-top: 0px!important;
	padding-bottom:0px!important;
	 right: 1%!important;
    left: 1%!important;
}
}
  @media(min-width: 530px) and (max-width: 767px){
.ol_div{
	 font: 40px Myriad Pro !important;
    color: white;
        margin: 0 19% 8% 19%;
}
.ol_div1{

    font: 25px Myriad Pro ;
       margin: 0 0 -12px;

    color: white;
}
.carousel-caption{
	padding-top: 0px!important;
	padding-bottom:0px!important;
    right: 1%!important;
    left: 1%!important;
}
}
 @media(min-width: 768px) and (max-width: 947px){
.ol_div{
	 font: 52px Myriad Pro !important;
    color: white;
        margin: 0 19% 10% 19%;
}
.ol_div1{


    font: 30px Myriad Pro ;
       margin: 0 0 1px;

    color: white;
}
.carousel-caption{
	padding-top: 0px!important;
	padding-bottom:0px!important;
	 right: 12% !important;
    left: 12%!important;
}
.menu a, .menu li {
	font: italic  bold 17px Tw Cen MT!important;
}
 .menu{
 	 padding: 30px 40px;
 	}   
}
 
@media(min-width: 948px) and (max-width: 1453px){
.ol_div{
	 font: 52px Myriad Pro !important;
    color: white;
        margin: 0 19% 15% 19%;
}
.ol_div1{


    font: 30px Myriad Pro ;
       margin: 0 0 1px;

    color: white;
}
.carousel-caption{
	padding-top: 0px!important;
	padding-bottom:0px!important;
	 right: 21%;
    left: 21%;
}
.menu a, .menu li {
	font: italic  bold 17px Tw Cen MT!important;
}
 .menu{
 	 padding: 30px 40px;
 	}  

}
@media(min-width: 1174px) and (max-width: 1453px){
	.section_btn2 p:nth-child(2) {
    margin-top: 14px;
    margin-bottom: 14px;
}
.tarer {
    margin-top: 0px;
     padding-bottom: 8px; 
}
.main1{
  margin: 0 25px;
}
.qu{
  width: 246px;
}
.img_div{
  left: 9px;
}
.oval {
    max-width: 236px;
    height: 225px;
    left: 3px;
    top: 5px;
}
}
@media(min-width: 1078px) and (max-width: 1173px){
	.section_btn2 p:nth-child(2) {
    margin-top: 10px;
    margin-bottom: 1px;
}
.section_btn1>div {
    margin: 18px auto;
}
.tarer {
    margin-top: 0px;
     padding-bottom: 9px; 
}
.main1{
  margin: 0 13px;
}
.qu{
  width: 236px;
}
.img_div{
  left: 9px;
}
.oval {
    max-width: 230px;
    height: 225px;
    left: 3px;
    top: 5px;
}
}
@media(min-width: 992px) and (max-width: 1077px){
.section_btn2 p:nth-child(2) {
    margin-top: 5px;
    margin-bottom: -5px;
}



}
@media (min-width: 1041px) and (max-width: 1077px){
	.main1{
  margin: 0;
}
.qu{
  width: 236px;
}
.img_div{
  left: 9px;
}
.oval {
    max-width: 230px;
    height: 225px;
    left: 3px;
    top: 5px;
}
.tarer {
    margin-top: 0px;
     padding-bottom: 0px; 
}
.section_btn1>div {
    margin: 20px auto;
}
}
@media (min-width: 992px) and (max-width: 1040px){

.tarer {
    margin-top: 0px;
     padding-bottom: 1px; 
}
.section_btn1>div {
    margin: 21px auto;
}
.glyphicon, .glyphicon-chevron-right{
	margin-top: -40px!important;
}
.main1{
  margin: 0;
}
.qu{
  width: 236px;
}
.img_div{
  left: 9px;
}
.oval {
    max-width: 230px;
    height: 225px;
    left: 3px;
    top: 5px;
}
}
@media (max-width: 991px){
.main {
    width: 300px;
    max-width: 1170px;
    margin: 0 auto;
     display: inherit; 
}
.main1{
  margin: 2px;
  height: 445px;
}
.oval {
    max-width: 250px;
    height: 250px;
   
    left: 15px;
}
.qu{
  max-width: 285px;
}

}
@media(min-width: 860px) and (max-width: 991px){
	
.section_btn2 img{
   display: inline-flex!important;
}
.section_btn1 {
	   
    margin-right: 80px;
    margin-left:  100px;
}

.section_btn1_1 div {
    margin: 20px 70px 0 70px;
    display: inline-block;
}
.section_btn2 {
	   
    margin-right: 80px;
    margin-left:  100px;
}
}
@media (min-width: 820px) and (max-width: 859px){
	
.section_btn2 img{
   display: inline-flex!important;
}
.section_btn1 {
	   
    margin-right: 80px;
    margin-left:  100px;
}

.section_btn1_1 div {
    margin: 20px 30px 0 30px;
    display: inline-block;
}
.section_btn2 {
	   
    margin-right: 80px;
    margin-left:  100px;
}

}
@media (min-width: 760px) and  (max-width: 819px){
	
.glyphicon, .glyphicon-chevron-right{
	margin-top: -40px!important;
}
.section_btn2 img{
   display: inline-flex!important;
}
.section_btn1 {
	   
    margin-right: 80px;
    margin-left:  100px;
}

.section_btn1_1 div {
    margin: 20px 30px 0 30px;
    display: inline-block;
}
.section_btn2 {
	   
    margin-right: 80px;
    margin-left:  100px;
}

}
@media (min-width: 616px) and (max-width: 759px){
	
.media-carousel {
    padding: 0 100px 0px 100px !important;
}
.section_btn2 img{
   display: inline-flex!important;
}
.section_btn1 {
	   
    margin-right: 80px;
    margin-left:  100px;
}

.section_btn1_1 div {
    margin: 20px 10px 0 10px;
    display: inline-block;
}
.section_btn2 {
	   
    margin-right: 80px;
    margin-left:  100px;
}

}
@media (min-width: 561px) and (max-width: 615px){
	
.section_btn2 img{
   display: inline-flex!important;
}
.section_btn1 {
	   
    margin-right: 40px;
    margin-left:  50px;
}

.section_btn1_1 div {
    margin: 20px 0px 0 0px;
    display: inline-block;
}
.section_btn2 {
	   
    margin-right: 40px;
    margin-left:  50px;
}

}

 @media (min-width: 506px) and (max-width: 560px){
	
.section_btn2 img{
   display: inline-flex!important;
}
.section_btn1 {
	   
    margin-right: 10px;
    margin-left:  20px;
}

.section_btn1_1 div {
    margin: 20px 0px 0 0px;
    display: inline-block;
}
.section_btn2 {
	   
    margin-right: 10px;
    margin-left:  20px;
}

}
@media (min-width: 480px) and (max-width: 505px){
	
.section_btn2 img{
   display: inline-flex!important;
}
.section_btn1 {
	   
    margin-right: 10px;
    margin-left:  10px;
}

.section_btn1_1 div {
    margin: 20px 0px 0 0px;
    display: inline-block;
}
.section_btn2 {
	   
    margin-right: 10px;
    margin-left:  20px;
}
}
@media (min-width: 445px) and (max-width: 479px){
	
.section_btn2 img{
   display: inline-flex!important;
}
.section_btn1 {
	   
    margin-right: 10px;
    margin-left:  10px;
}

.section_btn1_1 div {
    margin: 20px 0px 0 0px;
    display: inline-block;
}
.section_btn2 {
	   
    margin-right: 10px;
    margin-left:  20px;
}
}
@media (min-width: 414px) and (max-width: 444px){

#media{
	padding: 0 0px 0px 0px !important; 
}
.tarer{
	
	   margin-top: 0px;
    text-align: left;
}
.section_btn2 img{
   display: inline-flex!important;
}
.section_btn1 {
	   
    margin-right: 10px;
    margin-left:  10px;
}

.section_btn1_1 div {
    margin: 20px 0px 0 0px;
    display: inline-block;
}
.section_btn2 {
	   
    margin-right: 10px;
    margin-left:  20px;
}
}
@media (min-width: 375px) and (max-width: 413px){
	

#media{
	padding: 0 0px 0px 0px !important; 
}
.tarer{
	
	   margin-top: 0px;
    text-align: left;
}
.ol_div1 {
    font: 15px Myriad Pro;
   
}
.ol_div {
    font: 20px Myriad Pro !important;
    color: white;
    margin: 0 19% 6% 19%;
}

.glyphicon, .glyphicon-chevron-right{
	margin-top: -60px!important;
}
.section_btn2 img{
   display: inline-flex!important;
}
.section_btn1 {
	   
    margin-right: 0px;
    margin-left:  0px;
}

.section_btn1_1 div {
    margin: 20px 0px 0 0px;
    display: inline-block;
}
.section_btn2 {
	   
    margin-right: 0px;
    margin-left:  0px;
}

}
@media (min-width: 320px) and (max-width: 374px){
	

#media{
	padding: 0 0px 0px 0px !important; 
}
.tarer{
	
	   margin-top: 0px;
    text-align: left;
}
.ol_div1 {
    font: 15px Myriad Pro;
   
}
.ol_div {
    font: 20px Myriad Pro !important;
    color: white;
    margin: 0 19% 6% 19%;
}

.glyphicon, .glyphicon-chevron-right{
	margin-top: -60px!important;
}
.section_btn2 img{
   display: inline-flex!important;
}
.section_btn1 {
	   
    margin-right: 0px;
    margin-left:  0px;
}

.section_btn1_1 div {
    margin: 20px 0px 0 0px;
    display: inline-block;
}
.section_btn2 {
	   
    margin-right: 0px;
    margin-left:  0px;
}

}


@media (max-width: 991px){
	.card1{
    /*visibility: hidden;*/
	/*display: none;*/

}
.overf {
    overflow: scroll;
    height: 322px;
    margin-right: 60px!important;
    margin-left: 96px!important;
}
.media-carousel .carousel-control.right {
    right: 100px !important;
    }
    .media-carousel .carousel-control.left {
    left: 125px;
  }
.card-body{
  /*padding-bottom: 30px;*/
}
.btn2 {
    padding-right: 40px!important;
    }
    .btn1 {
    padding-left: 40px!important;
    }
    .media-carousel {
    padding: 0 100px 0px 100px !important;
}
}
@media (min-width: 992px) and (max-width: 1212px){
	.tarer{
	
	   margin-top: 0px;
    text-align: left;
}
}

@media (min-width: 1454px){

 .oval {
    max-width: 236px;
    height: 225px;
    left: 3px;
    top: 5px;
} 
.qu{
  width: 246px;
}
.main1{
  margin: 0 25px;
}
.img_div{
  left: 9px;
}
  }